In [52]:
import pandas as pd
import numpy as np

df = pd.read_csv("flights.csv")   # change filename
print(df.head())

   id  year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0   0  2013      1    1     517.0             515        2.0     830.0
1   1  2013      1    1     533.0             529        4.0     850.0
2   2  2013      1    1     542.0             540        2.0     923.0
3   3  2013      1    1     544.0             545       -1.0    1004.0
4   4  2013      1    1     554.0             600       -6.0     812.0

   sched_arr_time  arr_delay  ... flight  tailnum origin dest air_time  \
0             819       11.0  ...   1545   N14228    EWR  IAH    227.0
1             830       20.0  ...   1714   N24211    LGA  IAH    227.0
2             850       33.0  ...   1141   N619AA    JFK  MIA    160.0
3            1022      -18.0  ...    725   N804JB    JFK  BQN    183.0
4             837      -25.0  ...    461   N668DN    LGA  ATL    116.0

   distance  hour  minute            time_hour                    name
0      1400     5      15  2013-01-01 05:00:00   United Air Lines Inc.
1      1416     5      29  2013-01-01 05:00:00   United Air Lines Inc.
2      1089     5      40  2013-01-01 05:00:00  American Airlines Inc.
3      1576     5      45  2013-01-01 05:00:00         JetBlue Airways
4       762     6       0  2013-01-01 06:00:00    Delta Air Lines Inc.

[5 rows x 21 columns]

In [53]:
#Explore Schema & Types
df.info()
df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              336776 non-null  int64
 1   year            336776 non-null  int64
 2   month           336776 non-null  int64
 3   day             336776 non-null  int64
 4   dep_time        328521 non-null  float64
 5   sched_dep_time  336776 non-null  int64
 6   dep_delay       328521 non-null  float64
 7   arr_time        328063 non-null  float64
 8   sched_arr_time  336776 non-null  int64
 9   arr_delay       327346 non-null  float64
 10  carrier         336776 non-null  object
 11  flight          336776 non-null  int64
 12  tailnum         334264 non-null  object
 13  origin          336776 non-null  object
 14  dest            336776 non-null  object
 15  air_time        327346 non-null  float64
 16  distance        336776 non-null  int64
 17  hour            336776 non-null  int64
 18  minute          336776 non-null  int64
 19  time_hour       336776 non-null  object
 20  name            336776 non-null  object
dtypes: float64(5), int64(10), object(6)
memory usage: 54.0+ MB

,id,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,...,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
count,336776.000000,336776.0,336776.000000,336776.000000,328521.000000,336776.000000,328521.000000,328063.000000,336776.000000,327346.000000,...,336776.000000,334264,336776,336776,327346.000000,336776.000000,336776.000000,336776.000000,336776,336776
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4043,3,105,NaN,NaN,NaN,NaN,6936,16
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,N725MQ,EWR,ORD,NaN,NaN,NaN,NaN,2013-09-13 08:00:00,United Air Lines Inc.
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,575,120835,17283,NaN,NaN,NaN,NaN,94,58665
mean,168387.500000,2013.0,6.548510,15.710787,1349.109947,1344.254840,12.639070,1502.054999,1536.380220,6.895377,...,1971.923620,NaN,NaN,NaN,150.686460,1039.912604,13.180247,26.230100,NaN,NaN
std,97219.001466,0.0,3.414457,8.768607,488.281791,467.335756,40.210061,533.264132,497.457142,44.633292,...,1632.471938,NaN,NaN,NaN,93.688305,733.233033,4.661316,19.300846,NaN,NaN
min,0.000000,2013.0,1.000000,1.000000,1.000000,106.000000,-43.000000,1.000000,1.000000,-86.000000,...,1.000000,NaN,NaN,NaN,20.000000,17.000000,1.000000,0.000000,NaN,NaN
25%,84193.750000,2013.0,4.000000,8.000000,907.000000,906.000000,-5.000000,1104.000000,1124.000000,-17.000000,...,553.000000,NaN,NaN,NaN,82.000000,502.000000,9.000000,8.000000,NaN,NaN
50%,168387.500000,2013.0,7.000000,16.000000,1401.000000,1359.000000,-2.000000,1535.000000,1556.000000,-5.000000,...,1496.000000,NaN,NaN,NaN,129.000000,872.000000,13.000000,29.000000,NaN,NaN
75%,252581.250000,2013.0,10.000000,23.000000,1744.000000,1729.000000,11.000000,1940.000000,1945.000000,14.000000,...,3465.000000,NaN,NaN,NaN,192.000000,1389.000000,17.000000,44.000000,NaN,NaN
max,336775.000000,2013.0,12.000000,31.000000,2400.000000,2359.000000,1301.000000,2400.000000,2359.000000,1272.000000,...,8500.000000,NaN,NaN,NaN,695.000000,4983.000000,23.000000,59.000000,NaN,NaN

In [54]:
#Dataset Size & Nulls
print("Rows:", df.shape[0])
print("Columns:", df.shape[1])

#Check for missing values 
df.isnull().sum().sort_values(ascending=False)

Rows: 336776
Columns: 21

arr_delay         9430
air_time          9430
arr_time          8713
dep_delay         8255
dep_time          8255
tailnum           2512
month                0
year                 0
id                   0
day                  0
sched_arr_time       0
carrier              0
sched_dep_time       0
flight               0
origin               0
dest                 0
distance             0
hour                 0
minute               0
time_hour            0
name                 0
dtype: int64

In [55]:
#cheak duplicated rows
df.duplicated().sum()

np.int64(0)

In [56]:
#Sampling (for fast testing)
sample_df = df.sample(50000, random_state=42)

In [57]:
#Memory Optimization
df.memory_usage(deep=True).sum() / 1024**2   # in MB

np.float64(164.98259925842285)

In [58]:
# Feature Engineering

# Create flight_date
df['flight_date'] = pd.to_datetime(df[['year', 'month', 'day']])

# Create day_of_week
df['day_of_week'] = df['flight_date'].dt.day_name()

# Create route
df['route'] = df['origin'] + "-" + df['dest']

# Create cancelled column
df['cancelled'] = df['dep_time'].isna().astype(int)

# Create on_time column
df['on_time'] = (df['arr_delay'] <= 0).astype(int)

In [59]:
## Drop rows with any missing value
df_clean = df.dropna()

print("Original shape:", df.shape)
print("After dropping missing rows:", df_clean.shape)

Original shape: (336776, 26)
After dropping missing rows: (327346, 26)

In [60]:
# Save preprocessed data 
df_clean.to_csv("flights_new.csv", index=False)
print("Final dataset shape:",df_clean.shape)

Final dataset shape: (327346, 26)